{% load static %}

<div class="pano-class" style="width: 100%; height: 600px">

</div>

<script src="{% static 'js/panolens.js' %}"></script>
<script src="{% static 'js/three.js' %}"></script>

<script type="text/javascript">

const getPanoramaImages = () => axios.get('/en/api/get-panorama-images/');

const getPanoramaImageModels = () => axios.get('/en/api/get-panorama-image-models/')

const getPanoramaImageLinks = () => axios.get('/en/api/get-panorama-image-links/')

const getPanoramaImagesById = (id) => axios.get('/en/api/get-panorama-images/'+id)

const getPanoramaImageModelsById = (id) => axios.get('/en/api/get-panorama-image-models/'+id)

const getPanoramaImageLinksById = (id) => axios.get('/en/api/get-panorama-image-links/'+id)



const container = document.querySelector('.pano-class');
var panoramas, infospot, viewer;
// var imgId =
// var panImage = getPanoramaImagesById(imgId);
panoramas = []

var panImage;
getPanoramaImagesById("{{instance.id}}").then((response) => {
    console.log('getPanoramaImagesById',response.data);
    panImage = response.data[0];
    viewer = new PANOLENS.Viewer( { container: container } );

    panImage.images.forEach(x => {
        getPanoramaImageModelsById(x).then((response1) => {
            console.log('getPanoramaImageModelsById',response1.data[0])
            createPano(response1.data[0], false)
        })
    })


})


const createInfo = (link) => {
    infospot = new PANOLENS.Infospot( 500, PANOLENS.DataImage.Info );
    infospot.position.set( link.x_axis, link.z_axis, link.y_axis );
    infospot.addHoverText( link.image_link_name );
    infospot.addEventListener( 'click', function(){
        console.log('ckckc')
       getPanoramaImageModelsById(link.image_link).then(res => {
           createPano(res.data[0],true)
       })
    });
    return infospot
}

const createPano = (im,setMain) => {
   var panorama = new PANOLENS.ImagePanorama( im.image );
   panoramas.push(panorama);

    console.log('createPano', im,panoramas)
   im.links.forEach(l => {
       getPanoramaImageLinksById(l).then((response2) => {
           panorama.add(createInfo(response2.data[0]))
       }).then(() => {
              viewer.add( panorama);
          if (setMain) {
            viewer.setPanorama( panorama );
            } else {
          }
       })
   })
   // viewer.addUpdateCallback(function(){
   //
   // });

}


</script>
