<div class="probootstrap-service-2 probootstrap-animate">
  <div class="image">
    <div class="image-bg">
      <img src="{{ instance.image.url }}" alt="Free Bootstrap Template by uicookies.com">
    </div>
  </div>
  <div class="text">
    <span class="probootstrap-meta"><i class="icon-calendar2"></i> July 10, 2017</span>
    <h3>{{ instance.name }}</h3>
    <p>{{ instance.short_description }}</p>
    <p><a href="{{ instance.page_link.get_public_url }}" class="btn btn-primary">Enroll now</a> <span class="enrolled-count">{{ instance.footer }}</span></p>
  </div>
</div>